{% extends 'base.html' %}

{% block title %}
login
{% endblock %}

{% block content %}
<h1>Welcome, {{key}}</h1><br><br>

<form action="docspecialisation" method="post">
    {% csrf_token %}
    <label>Doctor Name:</label>
    <input type="text" name="docname"><br>
    <label>Choose your Specialisation: </label>
    <select name="specialise">
        <option selected></option>
        <option>Cardiology</option>
        <option>Neurology</option>
        <option>Psychology</option>
        <option>Dermatology</option>
        <option>Ophthalmology</option>
        <option>ENT</option>
    </select><br>
    <label>Choose your Time: </label>
    <input type="datetime-local" name="datetime"><br>
    <input type="submit">
</form><br>

<form action="home" method="post">
    {% csrf_token %}
<input type="submit" value="logout">
    </form>

{% endblock %}
