{% extends 'base.html' %}

{% block title %}
login
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<br><br>
<div style="background-image: url({% static '/images/hosbg.jpg' %});" class="container">
<h1 style="text-align:center; color: darkblue;">Welcome, {{key}}</h1><br><br>
<h2 style="text-align:center;">First Name: {{key2}}</h2>
<h2 style="text-align:center;">Lastname: {{key3}}</h2>
<h2 style="text-align:center;">Place: {{key4}}</h2>
<h2 style="text-align:center;">Phone: {{key5}}</h2>
<h2 style="text-align:center;">Email: {{key6}}</h2>
<form style="margin-left: 16rem;" action="booking" method="post">
    {% csrf_token %}
    <!-- <input type="submit" value="Booking"><br><br> -->
    <button class="btn btn-primary" type="submit">Booking</button><br><br>
</form>
<form style="margin-left: 16rem;" action="home" method="post">
    {% csrf_token %}
<!-- <input type="submit" value="logout"> -->
<button class="btn btn-primary" type="submit">Logout</button><br><br>
    </form>
</div>
{% endblock %}